{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "mandipredict",
    "storage_bucket": "mandipredict.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_MOBILESDK_APP_ID",
        "android_client_info": {
          "package_name": "com.example.mandipredict"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_GOOGLE_API_KEY_HERE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
